@media (min-width: 800px){
  .col {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-evenly;
    box-sizing: border-box;
  }
body { font-size : 18px;}
  
 